.menu-link {
	@include respond-min(44em) {
		display: none;
		}
	}
	
.lister li a.active {
	color: #333;
	cursor: default;
	}
	
.account-item-edit {
	font-size: 0.7em;
	}

.account-section {
	border: 1px solid $grey;
	margin-bottom: 1em;
	}
	
.account-section-header, 
.account-section-body, 
.account-section-footer {
	padding: 1em;
	}
	
.account-section-header {
	border-bottom: 1px solid $grey;
	margin: 0;
	}
	
.account-section-body *:last-child {
	margin-bottom: 0;
	}
	
.account-section-footer {
	border-top: 1px solid $grey;
	}

.liable-party:after {
	content: ', ';
	}
	
.liable-party:last-child:after {
	content: '';
	}
	
.account-total {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0;
	}
	
.total-explanation {
	margin-bottom: 2em;
	margin-top: 0;
	}
	
.account-year-details {
	margin-top: 1em;
	}