<div id="secondary-nav" class="sidebar col small_4 large_3 large_switch">

    {% if page.section %}
    <h2>Overview</h2>
    {% else %}
    <h2 class="no-top">Overview</h2>
    {% endif %}

    <ul class="lister">
        <li><a href="{{ site.baseurl }}/overview/principles.html">Design principles</a></li>
        <li><a href="{{ site.baseurl }}/overview/responsive.html">Responsive design</a></li>
        <li><a href="{{ site.baseurl }}/overview/code.html">Code guidelines</a></li>
    </ul>

    <h2>Foundation</h2>

    <ul class="lister">
        <li><a href="{{ site.baseurl }}/foundation/grid.html">Grid system</a></li>
        <li><a href="{{ site.baseurl }}/foundation/typography.html">Typography</a></li>
        <li><a href="{{ site.baseurl }}/foundation/colour.html">Colour</a></li>
        <li><a href="{{ site.baseurl }}/foundation/iconography.html">Iconography</a></li>
    </ul>

    <h2>Pattern library</h2>

    <ul class="lister">
        <li><a href="{{ site.baseurl }}/patterns/forms.html">Forms</a></li>
        <li><a href="{{ site.baseurl }}/patterns/list.html">List</a></li>
        <li><a href="{{ site.baseurl }}/patterns/hero.html">Hero image</a></li>
        <li><a href="{{ site.baseurl }}/patterns/prev-next.html">Previous/next links</a></li>
        <li><a href="{{ site.baseurl }}/patterns/widget.html">Widget embed</a></li>
        <li><a href="{{ site.baseurl }}/patterns/submit.html">Submit a new pattern</a></li>
    </ul>

</div>
